<div class="row jumbotron">
    <div class="col-md-6 text-left">

        <% @orders.each do |order| %>



        <br>
        <div class="text-primary">

            Order number:
            <%= order.id%>
        </div>
        <br>

        User Id:
        <%=order.user_id%>
        <br>
        Order Date:
        <%=order.created_at%>
        <br>

        Order Status:
        <%= order.status%>
        <br>
        <button onclick = "click()" >abc</button>
        <%= link_to "an article", order_path(order), :remote => true %>

        <%if has_role? (:admin)%>
        <%= form_for(order) do |form| %>
        <label for="status">Update status:</label>
        <%=form.select :status, ['waiting', 'acknowledged', 'dispatched', 'delivered']%>

        <div class="actions">
            <%= form.submit %>
        </div>
        <%end%>

        <br>
        <%= button_to "Delete Order", order_path(order),method: :delete, :class => "btn btn-danger btn-sm"%>
        <%end%>



        <%end%>

    </div>

    <div class="col-md-6" id="order">
    </div> 

    


</div>

