<div class = "container">
  <h1 class="display-4">Categories!</h1>
  <hr>

  <% @categories.each do |category| %>

  <div class = "container">
    <br>
    <div class = "left-right text-light font-weight-bold">
      <h3>
        <%= category.name %>
      </h3>
      <% if category.image.present? %>
      <div style="width:150px; height:auto">
        <%= image_tag url_for(category.image), style: 'width:90%' %>
        <% end %>
        <br>
        <%= link_to "Show Items", category_products_path(category),:class => "btn btn-info btn-sm"%>
        <%if has_role?(:admin)%>
        <%= button_to "Delete", category_path(category), method: :delete, :class =>"btn btn-danger btn-sm" %>
        <%end%>

      </div>
    </div>
    <%end%>
    <br><br>
    <div class="container">
      <%if has_role?(:admin)%>

      <%= link_to "Add Category", new_category_path, :class => "btn btn-success btn-sm"%>
      <%end%>
    </div>
  </div>
</div>
