<div class = "container">
  <h1 class="display-4">Products!</h1>
  <hr>
  <% @products.each do |product| %>

  <br>
  <div class = "left-right text-light font-weight-bold">
    <h3>
      <td><%= product.name %></td>
    </h3>
    Price#
    <td><%= product.price %></td>
    Rs
    <br>
    <% if @current_cart.present? %>

    <%= render partial: 'cart_items/form', :locals => {:product => product} %>
    <% else %>
    <span>please login to add items</span>
    <%end%>

    <% if product.images.present? %>
    <div class="row">
      <% product.images.each do |file| %>
      <%= image_tag url_for(file), style:'display: inline-block; width:150px; margin: 
      10px' %>


      <%end%>
      <%end%>
    </div>
    <%if has_role?(:admin)%>
    <%= link_to "Edit Details", edit_category_product_path(@category,product), :class => "btn 
    btn-dark btn-sm"%>


    <%= button_to "Delete", category_product_path(@category,product), method: 'delete',:class => "btn btn-danger btn-sm" %>
    <% end %>
    <br>
    <%end%>
    <br><br>
    <div class="container">
      <%if has_role?(:admin)%>
      <%= link_to "Add Products", new_category_product_path(@category), :class => "btn btn-info btn-sm"%>
      <% end %>
      <%= button_to "Back", categories_path, method: :get, :class => "btn btn-dark btn-sm"%>
    </div>
  </div>
</div>
